.calendar-container {
  width: 100%;
  max-width: 720px;
  margin: auto;
  overflow: hidden;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.calendar-wrapper {
  transform: scale(1.0);
  transform-origin: top center;
}

.fc {
  font-family: 'Segoe UI', sans-serif;
  font-size: 0.95rem;
}

.fc-toolbar-title {
  font-size: 1.3rem;
}

.fc-daygrid-day-number {
  font-size: 0.85rem;
}

.fc-event {
  white-space: nowrap;      /* ❗ keep text on one line */
  overflow: hidden;         /* ❗ hide overflow */
  text-overflow: ellipsis;  /* ✅ show "..." when too long */
  color: orange;
}


.calendar-dot-label-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 2px;
}

.calendar-dot {
  width: 12px;
  height: 12px;
  background-color: orange;
  border-radius: 50%;
  margin-bottom: 2px;
}

.calendar-label {
  font-size: 0.65rem;
  color: white;
  word-wrap: break-word;
}


.calendar-tooltip {
  position: absolute;
  z-index: 1000;
  background: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.2s ease;
  pointer-events: auto; 
}

.calendar-tooltip img {
  max-width: 200x;
  max-height: 200px;
  display: block;
}
